body{
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #79F1A4, #0E5CAD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #79F1A4, #0E5CAD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app {
  color: azure;
  height: 100%;
  transition: 0.4s ease-out;
}

.app a {
  color: azure;
  text-decoration: underline;
}

.app svg {
  fill: azure;
}


.weather {
  min-height: 80vh;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.card{
  background: rgba(0, 0, 0, 0.1)
}

.search {
  justify-content: center;
}

.search-box {
  border-radius: 10px;
  text-align: center;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.week {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 0;
  margin-top: 350px;
}

.day {
  flex: 1 0 auto;
  flex-grow: 1;
  flex-basis: 0;
  background: rgba(0, 0, 0, 0.8);
  border-color: rgba(255, 255, 255, 0.25);
}

.temperature {
  font-size: 100px;
}

.input-group-append {
  display: block;
}

@media (max-width: 770px) {
  .week {
    flex-direction: column;
  }
}

/* Backgrounds */

/* Clear sky day */
.weather01d {
  background: url(https://images.unsplash.com/reserve/jEs6K0y1SbK3DAvgrBe5_IMG_3410.jpg?ixlib=rb-1.2.1&auto=format&fit=crop&w=1275&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Clear sky night */
.weather01n {
  background: url(https://images.unsplash.com/photo-1554825123-84862ad084af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1235&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Clouds day */
.weather02d, .weather03d, .weather04d {
  background: url(https://images.unsplash.com/photo-1509803874385-db7c23652552?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Clouds night */
.weather02n, .weather03n, .weather04n {
  background: url(https://images.unsplash.com/photo-1479156661942-92cd989cdb56?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Rain day */
.weather09d, .weather10d {
  background: url(https://images.unsplash.com/photo-1528402520525-05f8b9608a6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1300&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Rain night */
.weather09n, .weather10n {
  background: url(https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1275&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Thunder */
.weather11d, .weather11n {
  background: url(https://images.unsplash.com/photo-1537210249814-b9a10a161ae4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Snow */
.weather13d, .weather13n {
  background: url(https://images.unsplash.com/photo-1542601098-8fc114e148e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Mist */
.weather50d, .weather50n {
  background: url(https://images.unsplash.com/photo-1478399305562-fbc9c0adb0e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}